.notes_wrapper{
  flex-basis: 100%;
  display: flex;
  flex-flow: row;
}
.notes_sidebar{
  width: 300px;
  min-height: 100%;
  background-color: rgb(216, 216, 216);
}
.note_preview{
  text-align: left;
  padding: 20px;
  border-bottom: 2px solid #333;
  transition: all 0.4s;
  color:#fff;
  /* display: inline-block; */
}

.note_preview:hover{
  background: linear-gradient(bottom, #16222A, #3A6073 );
}

.notes_main{
  width: 70%;
  background-color: F0F0F0;
  height: 400px;
  display: flex;
  flex-flow: column;
  padding: 100px 50px;
  /* display: inline-block; */
}
.note_title{
  font-size: 30px;
  margin-bottom: 30px;
}

.note_text{
  border: none;
}

.save_btn{
  width: 80px;
  margin: 20px auto;
}